<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CartridgeStore.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="LocalDB"
         connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=CartridgeStoreDB;Integrated Security=true;"
         providerName="System.Data.SqlClient" />
    <add name="CartridgeStoreDB"
         connectionString="Data Source=10.8.8.10;Database=CartridgeStoreDB;Integrated Security=false;User ID=SurgaevAA;Password=Vr8e1Z2c;Connection Timeout=5;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient"
                type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <CartridgeStore.Properties.Settings>
      <setting name="UseLocalDb" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EncryptAppConfig" serializeAs="String">
        <value>True</value>
      </setting>
    </CartridgeStore.Properties.Settings>
  </userSettings>
</configuration>